TallerClienteSW/ClienteSW/ClienteSW/Connected Services/SWEspecie/EspecieWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.servidor_taller2.grupo1.com/" targetNamespace="http://ws.servidor_taller2.grupo1.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEspecie" type="tns:actualizarEspecie" />
  <xs:element name="actualizarEspecieResponse" type="tns:actualizarEspecieResponse" />
  <xs:element name="buscarporIdEspecie" type="tns:buscarporIdEspecie" />
  <xs:element name="buscarporIdEspecieResponse" type="tns:buscarporIdEspecieResponse" />
  <xs:element name="eliminarEspecie" type="tns:eliminarEspecie" />
  <xs:element name="eliminarEspecieResponse" type="tns:eliminarEspecieResponse" />
  <xs:element name="insertarEspecie" type="tns:insertarEspecie" />
  <xs:element name="insertarEspecieResponse" type="tns:insertarEspecieResponse" />
  <xs:element name="listarEspecies" type="tns:listarEspecies" />
  <xs:element name="listarEspeciesResponse" type="tns:listarEspeciesResponse" />
  <xs:complexType name="eliminarEspecie">
    <xs:sequence>
      <xs:element minOccurs="0" name="EspecieVO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEspecieResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarporIdEspecie">
    <xs:sequence>
      <xs:element minOccurs="0" name="EspecieVO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarporIdEspecieResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especieVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especieVO">
    <xs:sequence>
      <xs:element name="estadoRegistro" type="xs:double" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEspecies">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspeciesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especieVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEspecie">
    <xs:sequence>
      <xs:element minOccurs="0" name="EspecieVO" type="tns:especieVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEspecieResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEspecie">
    <xs:sequence>
      <xs:element minOccurs="0" name="EspecieVO" type="tns:especieVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEspecieResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>